@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap")


// *
  // font-family: "Montserrat", sans-serif


body.body--light
  background: $background-light


body.body--dark
  background: $background-dark


.constraint
  width: 90%
  max-width: 1400px


.small-font
  font-size: 10px


